* {
  margin: 0;
  padding: 0;
}

ul {
  list-style:none;
}

.container {
  text-align: center;
  display:grid;
  grid-template: 5% 5% 1fr 5%/ 1fr 3fr;
  grid-template-areas: 
  "header header"
  "sidebar menu"
  "sidebar content"
  "footer footer";
  grid-gap:4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  grid-area: header;
  display: grid;
  grid-template-rows:1fr;
  grid-template-columns: 1fr 3fr;
  /* grid-area: clamp(100px, 1fr, 500px) 3fr / 1fr; */
  place-items:space-between;
  align-items: center;
}

.header ul {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
}


.menu ul,
.menu li {
  font-size: 16px;
}

.sidebar {
  background-color: #C50208;
  grid-area: sidebar;

}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  background-color: #C50208;
  grid-area: menu;

}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.nav ul {
  display:grid;
  grid-template-rows: 1fr;
  grid-template-columns:repeat(3, 1fr);
}

.article {
  background-color: #bccbde;
  grid-area: content;
  display:grid;
  overflow:auto;

}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}



.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;

}

.footer p {
  font-size: 13px;
  font-weight: normal;
}