#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
}


/* ************************************************** */
/* MY SOLUTION: */

button {
  transition-duration: .5s;

}

button:hover{
transform:scale(1.5, 1.5);
  /* cursor:pointer; */
}


/* ************************************************** */
/* THEIR SOLUTION: */
/* They used a shorthand declaration and specified ease-in-out */

/* button {
  transition: transform .3s ease-in-out;
}

button:hover {
  transform: scale(1.2)
} */